<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- {author: {name: , age: }} -->

    <form action="/authors" method="post">
      <label for="author-name">Name</label>
      <input id="author-name" type="text" name="author[name]">

      <label for="author-age">Age</label>
      <input id="author-age" type="number" name="author[age]">

      <input type="submit">
    </form>
    

  </body>
</html>
