<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book App</title>
  </head>
  <body>
    <a href="/books/new">Add Book</a>
    <ul>  <!-- unordered list -->
       <% @books.each do |book| %>
        <li>
          <a href="/books/<%= book.id %>">
            <%= book.title %>
          </a>
        </li>
       <% end %>
    </ul>
  </body>
</html>
