<form action="/books" method="post">
  <label for="book-title">Book title</label>
  <input id="book-title" type="text" name="book[][title]" placeholder="Book title">

  <label for="book-author">Book Author</label>
  <input id="book-author" type="text" name="book[][author]" placeholder="Book author">

  <label for="book-snippet">Book Snippet</label>
  <textarea id="book-snippet" name="book[][snippet]"></textarea>

  <label for="book-title">Book title</label>
  <input id="book-title" type="text" name="book[][title]" placeholder="Book title">

  <label for="book-author">Book Author</label>
  <input id="book-author" type="text" name="book[][author]" placeholder="Book author">

  <label for="book-snippet">Book Snippet</label>
  <textarea id="book-snippet" name="book[][snippet]"></textarea>


  <input type="submit">
</form>
